/******************************************************************************
** Sophistique Theme
******************************************************************************/
*{
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, .site-title {
	font-weight: normal;
	font-weight: 200 !important;
}

a{
	.transition( all 0.3s ease );
	&:hover{
		.transition( all 0.3s ease );
	}
}



/******************************************************************************
** Content Area
******************************************************************************/
#dynamic-content{
	background: #fff;
}
